---
- name: Install Docker
  become: true
  tags: docker
  block:
    - name: Create keyring directory
      file:
        path: /etc/apt/keyrings # Does not exist on Debian < 12
        state: directory
        mode: '0755'
      when: ansible_distribution_major_version|int < 12

    - name: Add apt GPG key
      get_url:
        url: https://download.docker.com/linux/debian/gpg
        dest: /etc/apt/trusted.gpg.d/docker.asc
        mode: '0644'
        force: true # Download new versions when they are available

    - name: Install gpg
      apt:
        name: gpg

    - name: Add apt repository
      apt_repository:
        repo: deb [signed-by=/etc/apt/trusted.gpg.d/docker.asc] https://download.docker.com/linux/debian {{ ansible_distribution_release }} stable
        filename: docker
        update_cache: true

    - name: Install
      apt:
        name: docker-ce
        cache_valid_time: 86400

    - name: Install Docker Compose
      apt:
        name: "{{ 'docker-compose-plugin' if ansible_distribution_version | int >= 10 else 'docker-compose' }}"
        update_cache: true
        cache_valid_time: 86400

    - name: Enable service
      service:
        name: docker
        enabled: true

    - name: Adding users the 'docker' group
      user:
        name: "{{ item }}"
        groups: docker
        append: true
      with_items: "{{ docker_users }}"

    - name: Configure daemon
      copy:
        dest: /etc/docker/daemon.json
        content: "{{ docker_daemon_config | to_nice_json }}"
        mode: 0644
      when: docker_daemon_config.keys() | length > 0
      notify: Restart Docker daemon
